
<!DOCTYPE html>
<html>
  <head>
    <title>Taylor Farley | Coder, Fullstack Developer &amp; Designer
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Taylor Farley">
    <meta name="author" content="Taylor Farley">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Hi. My names Taylor. I am a Designer, Fullstack Developer &amp; Coder from Stouffville. Let's Chat.">
    <meta property="og:description" content="Hi. My names Taylor. I am a Designer, z Developer &amp; Coder from Stouffville. Let's Chat.">
    <link rel="canonical" href="https://twfmade.ca">
    <meta property="og:url" content="https://twfmade.ca">
    <meta property="og:site_name" content="Taylor Farley">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@taylorwfarley">
    <meta name="twitter:creator" content="@taylorwfarley">
    <meta name="twitter:title" content="Taylor Farley">
    <meta name="twitter:description" content="Hi. My names Taylor. I am a Designer, Fullstack Developer &amp; Coder from Stouffville. Let's Chat.">
    
    <meta name="twitter:image:alt" content="Taylor Farley">
    <link href="img/icons/twf.ico" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script type="application/ld+json">
      {"@context":"http://schema.org","@type":"Website","name":"Taylor Farley","headline":"Taylor Farley","author":{"@type":"Person","name":"Taylor Farley"},"description":"Hi. My names Taylor. I am a Designer, Fullstack Developer &amp; Coder from Stouffville. Let's Chat.","url":"https://twfmade.ca/"}
      
    </script>
    <script src="https://kit.fontawesome.com/9bdc906322.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld5XTAaAAAAALknlKMjkcDJrnv-bZiFMpRc_E-9"></script>
  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167883150-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167883150-1');
</script>


  </head>
  <body>
    <nav class="navbar is-transparent is-planner animate-fadeDown">
      <div class="container">
        <div class="navbar-brand"><a class="navbar-item" href="/"><img src="img/twf_logo.png" alt="Taylor Farley | Designer, Fullstack Developer" height="48"></a></div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <div class="navbar-item">
             <a class="button is-medium tooltip is-tooltip-bottom" data-tooltip="Close" href="/"><span class="icon is-small"><i class="fas fa-times"></i></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="is-form-page animate-fadeUp">
      <section class="is-white has-text-centered">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-three-quarters"><img class="avatar" src="img/avataaars.svg">
              <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Thanks for taking the time to reach out. How can I help you today?</h1>
            </div>
          </div>
        </div>
      </section>
      <section class="is-white">
        <div class="container">
          
          <form id="invisible-recaptcha-form" accept-charset="UTF-8" action="/captcha" method="POST">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <input type="hidden" name="action" value="validate_captcha">
            <div class="columns is-centered">
              <div class="column is-half">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control is-expanded">
                    <input class="input is-large" name="name" type="text" required>
                  </div>
                </div>
              </div>
              <div class="column is-half">
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control is-expanded">
                    <input class="input is-large" name="email" type="email" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns is-centered">
              <div class="column">
                <div class="field">
                  <label class="label">Message</label>
                  <div class="control is-expanded">
                    <textarea class="textarea is-large" name="message" rows="5" required></textarea>
                  </div>
                </div>
                <div class="field is-hidden">
                  <label class="is-hidden"></label>
                  <div class="control is-expanded is-hidden">
                    <input class="is-hidden" name="bot_vortex" type="hidden">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns is-centered">
              <div class="column is-one-third">
                <div class="field">
                  <div class="control">
                    <button class="button is-primary is-outlined is-medium is-fullwidth is-rounded g-recaptcha"  data-callback="onSubmit" data-badge="inline">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <script src="js/main-min.js"></script>
    <script>
      grecaptcha.ready(function() {
      // do request for recaptcha token
      // response is promise with passed token
          grecaptcha.execute('6Ld5XTAaAAAAALknlKMjkcDJrnv-bZiFMpRc_E-9', {action:'validate_captcha'})
                    .then(function(token) {
              // add token value to form
              document.getElementById('g-recaptcha-response').value = token;
          });
      });
  </script>
  </body>
</html>