
<!DOCTYPE html>
<html>
  <head>
    <title>Taylor Farley | Contact
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Taylor Farley">
    <meta name="author" content="Taylor Farley">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Designer, Front-end Developer &amp; Mentor">
    <meta property="og:description" content="Designer, Front-end Developer &amp; Mentor">
    <link rel="canonical" href="https://Taylorfarley.ca">
    <meta property="og:url" content="http://Taylorfarley.ca">
    <meta property="og:site_name" content="Taylor Farley">
    <meta property="og:image" content="http://Taylorfarley.ca/img/og_thumbnail.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@farleyTaylorers">
    <meta name="twitter:creator" content="@farleyTaylorers">
    <meta name="twitter:title" content="Taylor Farley">
    <meta name="twitter:description" content="Designer, Front-end Developer &amp; Mentor. I design and code beautifully simple things, and I love what I do.">
    <meta name="twitter:image" content="http://Taylorfarley.ca/img/og_thumbnail.png">
    <meta name="twitter:image:alt" content="Taylor Farley">
    <link href="img/favicon-32.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="css/main.css">
    <script type="application/ld+json">
      {"@context":"http://schema.org","@type":"WebSite","name":"Taylor Farley","headline":"Taylor Farley","author":{"@type":"Person","name":"Taylor Farley"},"description":"Designer, Front-end Developer &amp; Mentor","url":"http://Taylorfarley.ca/"}
      
    </script>
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
  </head>
  <body>
    <nav class="navbar is-transparent is-planner animate-fadeDown">
      <div class="container">
        <div class="navbar-brand"><a class="navbar-item" href="/"><img src="img/twf_logo.png" alt="Taylor Farley | Designer, Front-end Developer &amp; Mentor" height="48"></a></div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <div class="navbar-item">
             <a class="button is-medium tooltip is-tooltip-bottom" data-tooltip="Close" href="/"><span class="icon is-small"><i class="fas fa-times"></i></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="is-form-page animate-fadeUp">
      <section class="is-white has-text-centered">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-three-quarters"><img class="avatar" src="img/avataaars.svg">
              <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Thanks! We will be getting back to you shortly.</h1>
            </div>
          </div>
          <a href="/" class="button is-primary is-outlined is-medium is-normal is-rounded g-recaptcha">Great!</a>
        </div>
      </section>
      <section class="is-white">
        <div class="container">
          
       
        </div>
      </section>
    </div>
    <script src="js/main-min.js"></script>
 
  </body>
</html>